/* Work Sans 400 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url("fonts/WorkSans-Regular.woff2") format("woff2"),
       url("fonts/WorkSans-Regular.woff") format("woff");
}

/* Work Sans 700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), 
       url("fonts/WorkSans-Bold.woff2") format("woff2"), 
       url("fonts/WorkSans-Bold.woff") format("woff");
}

/* Work Sans 500 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/WorkSans-Medium.woff2") format("woff2"),
       url("fonts/WorkSans-Medium.woff") format("woff");
}

/* Work Sans 600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/WorkSans-SemiBold.woff2") format("woff2"), 
       url("fonts/WorkSans-SemiBold.woff") format("woff");
}

body {
  font-family: 'Work Sans', 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

