/* roboto-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url("fonts/WorkSans-ExtraLight.woff") format("woff2"),
       url("fonts/WorkSans-ExtraLight.woff") format("woff");
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url("fonts/WorkSans-Light.woff") format("woff2"),
       url("fonts/WorkSans-Light.woff") format("woff");
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url("fonts/WorkSans-Regular.woff") format("woff2"),
       url("fonts/WorkSans-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url("fonts/WorkSans-Medium.woff2") format("woff2"), url("fonts/WorkSans-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url("fonts/WorkSans-Bold.woff2") format("woff2"), url("fonts/WorkSans-Bold.woff") format("woff");
    font-display: swap;
}

body {
  font-family: 'Work Sans', 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}
